<div id="menu">
    <nav class="navbar navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header mb-10">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">
                <!--<img class="thumbnail" src="images/logo.png" alt="logo">-->
                <img class="ui image avatar small centered" src="http://i68.tinypic.com/2q81rhk.jpg" alt="About us">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="sscroll" href="index.html#home">Home</a></li>
                <li class="nav-item"><a class="sscroll" href="index.html#product">Products</a></li>
                <li class="nav-item"><a class="sscroll" href="index.html#services">Services</a></li>
                <li class="nav-item"><a class="sscroll" href="index.html#aboutUs">About Us</a></li>
                <li class="nav-item"><a class="sscroll" href="index.html#contact">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>