<!-- BEGIN ABOUT US -->
<section id="aboutUs" class="about gray">
    <div class="row">
        <div class="header-content">
            <h2>About Us</h2>
        </div>

        <div class="col-md-12 ">
            <div class="thumbnail">
                <img class="ui fluid image rounded" src="http://i68.tinypic.com/2q81rhk.jpg" alt="About us">
                <div class="caption">
                    <div class="text-center">
                        <h2>Imagination. Creation. Innovation</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 captionContainer">
                            <h3 class="captionHead">About Us</h3>
                            <div class='htmlText'>
                                <p><b>Intelligent Electronic Systems Design Pty (Ltd)</b> is a technology development company based in Bloemfontein, South Africa. We offer customer specific technology solutions by developing Electronic/
                                Electrical systems based on customer requirements and specifications. We also sell our own developed products for household, offices and workshop/ Industry applications.</p> <p>The company specializes in
                                microcontroller based electronic systems design using the latest technologies to meet our customer requirements. With Innovation and Internet of Things (IoT) at the heart of our designs, we utilize technologies such
                                as RF, Wi-Fi, Bluetooth and GSM/GPRS for mobile/ wireless connectivity. Phone Applications (Apps) and software development also forms part of our services when the built hardware needs to connect with the mobile devices
                                or a computer. We also offer software development as standalone service to our customers.</p> <p>Our company does maintenance and repairs on many existing electronic systems and products from other manufacturers,
                                for more details on repairs and maintenance please contact us.</p>
                            </div>
                        </div>
                        <div class="col-md-6 captionContainer">
                            <h3 class="captionHead">Mission</h3>
                            <div class='htmlText'><p>We aim at providing outstanding professional and quality services to our customers through minimum time to delivery and constant updates, providing cost-effective, efficient and reliable products and services.</p></div>
                            <h3 class="captionHead">Vision</h3>
                            <div class='htmlText'>
                                <p>With the evolving field of engineering and technology, at Intelligent Electronic Systems Design we aim to always be up to date with new technologies, deliver modern, state of the art solutions to our customers
                                and eventually become leaders in technology solutions development in Africa.</p>
                            </div>
                            <h3 class="captionHead">Core Values</h3>
                            <div class='htmlText'><p>Good business practice, good customer experience, excellent customer service, Integrity and Accountability.</p></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END ABOUT US -->
