<!-- BEGIN HOME -->
<section id="home" class="home">
    <!-- Superslides -->
    <div id="home-slide">
        <ul class="slides-container text-center">
            <li>
                <div class="slide-text">
                    <h2>Welcome</h2>
                    <hr>
                    <h2>Intelligent Electronic Systems Design</h2>
                    <span>Imagination. Creation. Innovation.</span>
                    <br />
                </div>
                <div class="slide-filter"></div>
                <img src="http://i68.tinypic.com/s6qb1i.jpg" class="par" alt="first">
            </li>

            <li>
                <div class="slide-text">
                    <h2>Smart Controllers</h2>
                    <hr>
                    <h2>State of the Art Technology</h2>
                    <span>Imagination. Creation. Innovation.</span>
                    <br />
                </div>
                <div class="slide-filter"></div>
                <img src="http://i68.tinypic.com/359el8y.jpg" class="par" alt="first">
            </li>

        </ul>
        <nav class="slides-navigation slidez">
            <a href="javascript:;" class="next">
                <i class="fa fa-angle-right"></i>
            </a>
            <a href="javascript:;" class="prev">
                <i class="fa fa-angle-left"></i>
            </a>
        </nav>
    </div>
    <!-- End of Superslide -->
</section>
<!-- END HOME -->