<!-- BEGIN PRODUCTS -->
<section id="product" class="product gray">
    <div class="row">
        <div class="col-md-12">
            <div class="header-content">
                <h2>Product</h2>
                <h3>Here are some of our products</h3>
                <h4><i class="far fa-hand-point-down"></i> Please click on the links below for more info on products <i class="far fa-hand-point-down"></i></h4>
            </div>
        </div>

        <div class="col-md-12">
            <ul class="productFilter text-center">

                <li id="selector1" class="p-selector" data-filter=0>SECURITY SYSTEM</li>

                <li id="selector1" class="p-selector" data-filter=1>HOME AUTOMATION</li>

                <li id="selector1" class="p-selector" data-filter=2>SECURITY &amp; AUTO</li>

                <li id="selector1" class="p-selector" data-filter=ACCESSORIES>ACCESSORIES</li>

                <li id="selector1" class="p-selector" data-filter=3>GSM PRODUCTS</li>

                <li id="selector1" class="p-selector" data-filter=4>ASSET TRACKER</li>

                <li id="selector1" class="p-selector" data-filter=5>POWER METER</li>

                <li id="selector1" class="p-selector" data-filter=6>ACCESS CONTROL</li>

                <!--Add product button (Remove this line)
                <li id="selector1" class="p-selector" data-filter=3>GSM PRODUCTS</li>
                End product button (Remove this line)-->

                <li id="selector5" class="p-selector" data-filter="all">ALL PRODUCTS</li>
            </ul>
        </div>

        <div class="col-md-12 mg-bt-80">
            <div class="row productContainer">

                <div class="row">
                    <div class="product-specs">
                        <div class="col-md-3 col-xs-6 product-item 0 ui segment">
                            <a class="popup to-hide" href=http://i63.tinypic.com/59ydsk.jpg data-lightbox-gallery="team-product">
                                <span class="project-hover">
                                    <span>
                                        PhaliBro Security Sys
                                    </span>
                                </span>
                                <img src=http://i63.tinypic.com/59ydsk.jpg alt="product-thumb-1">
                            </a>
                        </div>
                    </div>

                    <div class="product-specs">
                        <div class="col-md-3 col-xs-6 product-item 1 ui segment">
                            <a class="popup to-hide" href=http://i63.tinypic.com/vwsocx.jpg data-lightbox-gallery="team-product">
                                <span class="project-hover">
                                    <span>
                                        PhaliBro Automation Sys
                                    </span>
                                </span>
                                <img src=http://i63.tinypic.com/vwsocx.jpg alt="product-thumb-1">
                            </a>
                        </div>
                    </div>

                    <div class="product-specs">
                        <div class="col-md-3 col-xs-6 product-item 2 ui segment">
                            <a class="popup to-hide" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">
                                <span class="project-hover">
                                    <span>
                                        PhaliBro Sec&amp;Auto Sys
                                    </span>
                                </span>
                                <img src=http://i66.tinypic.com/2n1c21s.jpg alt="product-thumb-1">
                            </a>
                        </div>
                    </div>

                    <div class="product-specs">
                        <div class="col-md-3 col-xs-6 product-item ACCESSORIES ui segment">
                            <a class="popup to-hide" href=http://i66.tinypic.com/a9n0ww.jpg data-lightbox-gallery="team-product">
                                <span class="project-hover">
                                    <span>
                                        PhaliBro Accessories
                                    </span>
                                </span>
                                <img src=http://i66.tinypic.com/a9n0ww.jpg alt="product-thumb-1">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="product-specs">
                        <div class="col-md-3 col-xs-6 product-item 3 ui segment">
                            <a class="popup to-hide" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">
                                <span class="project-hover">
                                    <span>
                                        GSM PRODUCTS
                                    </span>
                                </span>
                                <img src=http://i66.tinypic.com/2n1c21s.jpg alt="product-thumb-1">
                            </a>
                        </div>
                    </div>

                    <div class="product-specs">
                        <div class="col-md-3 col-xs-6 product-item 4 ui segment">
                            <a class="popup to-hide" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">
                                <span class="project-hover">
                                    <span>
                                        ASSET TRACKER
                                    </span>
                                </span>
                                <img src=http://i66.tinypic.com/2n1c21s.jpg alt="product-thumb-1">
                            </a>
                        </div>
                    </div>

                    <div class="product-specs">
                        <div class="col-md-3 col-xs-6 product-item 5 ui segment">
                            <a class="popup to-hide" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">
                                <span class="project-hover">
                                    <span>
                                        POWER METER
                                    </span>
                                </span>
                                <img src=http://i66.tinypic.com/2n1c21s.jpg alt="product-thumb-1">
                            </a>
                        </div>
                    </div>

                    <div class="product-specs">
                        <div class="col-md-3 col-xs-6 product-item 6 ui segment">
                            <a class="popup to-hide" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">
                                <span class="project-hover">
                                    <span>
                                        ACCESS CONTROL
                                    </span>
                                </span>
                                <img src=http://i66.tinypic.com/2n1c21s.jpg alt="product-thumb-1">
                            </a>
                        </div>
                    </div>
                </div>

                <!--Add product name and image(Remove this line)
                <div class="product-specs">
                    <div class="col-md-3 col-xs-6 product-item 3 ui segment">
                        <a class="popup to-hide" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">
                            <span class="project-hover">
                                <span>GSM PRODUCTS
                                </span>
                            </span>
                            <img src=http://i66.tinypic.com/2n1c21s.jpg alt="product-thumb-1">
                        </a>
                    </div>
                </div>
                end adding product name and image (remove this line)-->

                <div class="ui items">

                    <div class="item prod-select">
                        <div class="image">
                            <img src=http://i63.tinypic.com/59ydsk.jpg>
                        </div>
                        <div class="content">
                            <a class="header popup" href=http://i63.tinypic.com/59ydsk.jpg data-lightbox-gallery="team-product">
                                PhaliBro Security Sys
                            </a>
                            <div class="meta">
                                <span>Description</span>
                            </div>
                            <div class="description ui segment">
                                <p>
                                <p><b><u>Wireless Security System for Home/ Office and commercial  applications.</u></b></p>
                                <p><b> Features:</b></p>
                                <ul>
                                    <li>Connects to mobile phones using PhaliBro Systems App  via Bluetooth, Wifi or Internet.</li>
                                    <li>Sends notifications during arming, disarming and intrusion.</li>
                                    <li>Up to 128 alarm events data logging.</li>
                                    <li>Supports up to five users for notifications and control through the App or through the touch user interface.</li>
                                    <li>Supports up to eight additional users for SMS notifications during intrusion.</li>
                                    <li>Real Time and date with Temperature monitoring.</li>
                                    <li>Uninterrupted power supply (lasts 18 hours)  and AC Power Line monitoring with notifications.</li>
                                    <li>Provides one wired relay output, triggered during intrusion.</li>
                                    <li>
                                        Connects to: <ul>
                                            <li>One wired switch sensor and up to two wired motion sensors.</li>
                                            <li>Up to 16 wireless switch sensors, 16 wireless motion sensors and 16 glass break sensors.</li>
                                            <li>8 fire detectors, 8 panic buttons and 8 anti-tamper devices.</li>
                                            <li> 4 access control devices, up to 16 wireless cameras (snapshots, MMS), 1 wireless siren, wireless emergency lights and audio support hardware. </li>
                                            <li>Optional PhaliBro Touch Interface (Wired).</li>
                                        </ul>
                                    </li>
                                    <li>PhaliBro USB Dongle and PhaliBro Remote compatible.</li>
                                </ul>
                                <p><b>**</b>Please note that the devices the system connects to are bought separately, available under Accessories.</p>
                                </p>
                            </div>
                            <div class="extra">
                                <b>Price: R 4599.00</b>
                            </div>
                        </div>
                    </div>

                    <div class="item prod-select">
                        <div class="image">
                            <img src=http://i63.tinypic.com/vwsocx.jpg>
                        </div>
                        <div class="content">
                            <a class="header popup" href=http://i63.tinypic.com/vwsocx.jpg data-lightbox-gallery="team-product">
                                PhaliBro Automation Sys
                            </a>
                            <div class="meta">
                                <span>Description</span>
                            </div>
                            <div class="description ui segment">
                                <p>
                                <p><b><u>Wireless Automation Systems for Home/ Office applications, its Features includes:</u></b></p>
                                <p><b> Features:</b></p>
                                <ul>
                                    <li> Connects to mobile phones using PhaliBro Systems App via Bluetooth, Wifi or Internet.</li>
                                    <li>Supports up to five users for notifications and control through the App or the touch user interface.</li>
                                    <li>Real Time and date with Temperature monitoring.</li>
                                    <li>Uninterrupted power supply (lasts 18 hours) and AC Power Line monitoring with notifications.</li>
                                    <li>
                                        Controls and/ or connects to the following:<ul>
                                            <li>Up to 16 wireless AC Plugs, 16 wireless AC Lights and 5 curtain controllers.</li>
                                            <li>1 Smart geyser controller (Set water temperature), 1 Irrigation controller and 1 AC Power Meter.</li>
                                            <li>Up to 16 Home remote appliances control (Wireless universal remotes for home appliances).</li>
                                            <li>Optional PhaliBro Touch Interface (Wired).</li>
                                        </ul>
                                    </li>
                                    <li>Each controlled unit has two sets of programmable time auto control (On and Off times).</li>
                                    <li>Every device measures the amount of power it uses and sends data to the main controller.</li>
                                    <li>
                                        The lights and AC Plugs can be automated by using sensors, the device switches when the sensor is triggered.<ul>
                                            <li>The system supports up to 16 automation switch sensors and 16 automation motion sensors.</li>
                                        </ul>
                                    </li>
                                    <li>Supports up to 8 fire detectors and 4 access control devices.</li>
                                    <li>PhaliBro USB Dongle and PhaliBro Remote compatible.</li>
                                </ul>
                                <p><b>**</b>Please note that the devices the system connects to are bought separately, available under Accessories.</p>
                                </p>
                            </div>
                            <div class="extra">
                                <b>Price: R 4599.00</b>
                            </div>
                        </div>
                    </div>

                    <div class="item prod-select">
                        <div class="image">
                            <img src=http://i66.tinypic.com/2n1c21s.jpg>
                        </div>
                        <div class="content">
                            <a class="header popup" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">
                                PhaliBro Sec&amp;Auto Sys
                            </a>
                            <div class="meta">
                                <span>Description</span>
                            </div>
                            <div class="description ui segment">
                                <p>
                                <p><b><u>This product adds the features of PhaliBro Security System with those of PhaliBro Automation system. Features:</u></b></p>
                                <p><b> Features:</b></p>
                                <ul>
                                    <li>It connects to mobile phones using PhaliBro Systems App via Bluetooth, Wifi or Internet.</li>
                                    <li>Supports up to five users for notifications and control through the App or through the touch user interface.</li>
                                    <li>Sends notifications during arming, disarming and intrusion events.</li>
                                    <li>Up to 128 alarm events data logging.</li>
                                    <li>Supports up to eight additional users for SMS notifications during intrusion.</li>
                                    <li>Real Time and date with Temperature monitoring.</li>
                                    <li>Uninterrupted power supply (lasts 18 hours) and AC Power Line monitoring with notifications.</li>
                                    <li>Provides one wired relay output, triggered during intrusion.</li>
                                    <li>
                                        Connects to:<ul>
                                            <li>One wired switch sensor and up to two wired motion sensors.</li>
                                            <li>Up to 16 wireless switch sensors, 16 wireless motion sensors and 16 glass break sensors.</li>
                                            <li>8 fire detectors, 8 panic buttons and 8 anti-tamper devices.</li>
                                            <li>4 access control devices, up to 16 wireless cameras (snapshots, MMS), 1 wireless siren, wireless emergency lights and one wired audio hardware.</li>
                                            <li>Optional PhaliBro Touch Interface (Wired).</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Controls and/ or connect to the following:<ul>
                                            <li>Up to 16 wireless AC Plugs, 16 wireless AC Lights and 5 curtain controllers.</li>
                                            <li> 1 Smart geyser controller (Set water temperature), 1 Irrigation controller and 1 AC Power Meter.</li>
                                            <li>Up to 16 home remote appliances control (Wireless universal remote for home appliances).</li>
                                            <li> Each controlled unit has two sets of programmable time auto control (On and Off times).</li>
                                            <li>Every device measures the amount of power it consume and sends data to the main controller.</li>
                                            <li>The lights and AC Plugs can be automated by using switch sensors and motion sensors, which are also used for security purposes.</li>
                                            <li>PhaliBro USB Dongle and PhaliBro Remote compatible.</li>
                                        </ul>
                                    </li>
                                </ul>
                                <p><b>**</b>Please note that the devices the system connects to are bought separately, available under Accessories.</p>
                                </p>
                            </div>
                            <div class="extra">
                                <b>Price: R 5999.00</b>
                            </div>
                        </div>
                    </div>

                    <div class="item prod-select">
                        <div class="image">
                            <img src=http://i66.tinypic.com/a9n0ww.jpg>
                        </div>
                        <div class="content">
                            <a class="header popup" href=http://i66.tinypic.com/a9n0ww.jpg data-lightbox-gallery="team-product">
                                PhaliBro Accessories
                            </a>
                            <div class="meta">
                                <span>Description</span>
                            </div>
                            <div class="description ui segment">
                                <p>
                                <p><strong><u>The following PhaliBro accessories for security and automation systems are available:</u></strong></p>
                                <ul>
                                    <li><i><u><b>PhaliBro Wired Switch Sensor at R90.00: </b></u></i> Door/ Window sensor for security applications.</li>
                                    <li><i><u><b>PhaliBro Wired Motion Sensor at R195.00:</b></u></i> Indoor/ Outdoor security motion sensor.</li>
                                    <li><i><u><b>PhaliBro Wireless Switch Sensor at R550.00:</b></u></i> Door/ Window sensor for security &amp; Automation applications.</li>
                                    <li><i><u><b>PhaliBro Wireless Motion Sensor at R600.00:</b></u></i> Indoor/ Outdoor motion sensor for security &amp; Automation applications.</li>
                                    <li><i><u><b>PhaliBro Wireless glass break sensor at R550.00:</b></u></i> Detects the vibrations and disorientation during/after window glass break, triggers the alarm.</li>
                                    <li><i><u><b>PhaliBro Wireless Panic Button at R550.00:</b></u></i> Panic button for security applications, triggers the alarm when activated.</li>
                                    <li><i><u><b>Siren at R150.00:</b></u></i> Wired Siren sounder for security system.</li>
                                    <li><i><u><b>PhaliBro Wireless Siren at R650.00:</b></u></i> Wireless security siren sounder with battery backup (Battery not included).</li>
                                    <li><i><u><b>12V 7AH Battery at R150.00:</b></u></i> Backup battery for the security systems, automation systems and the wireless siren.</li>
                                    <li><i><u><b>PhaliBro Emergency Lights at R650.00:</b></u></i> Lights which flashes when the security alarm is triggered. </li>
                                    <li><i><u><b>PhaliBro Anti-tamper Device at R550.00:</b></u></i> Security device used to monitor a secured appliance/cabinet/safe or room. If tampered with it sends notifications to registered users on the security system. </li>
                                    <li><i><u><b>PhaliBro Wireless cameras:</b></u></i> Wireless camera equipped with motion sensor, If security system is armed and there is motion it takes snap shorts and send MMSs. Can also be accessed randomly using the mobile App or touch user interface.</li>
                                    <li><i><u><b>PhaliBro Wireless Fire Detector at R550.00:</b></u></i> Fire detector for use with Security &amp; Automation systems. Detects the presence of fire and sends notifications to users enrolled on the Security/ Automation system.</li>
                                    <li><i><u><b>PhaliBro Access Control Device:</b></u></i> An access controller system that can be used to open/ close the gate or lock/ unlock the doors remotely or by finger-print. </li>
                                    <li><i><u><b>PhaliBro Cellular Audio Device:</b></u></i> Microphone and speaker system that allows the user to communicate verbally using the security/ automation system.</li>
                                    <li><i><u><b>PhaliBro USB Dongle:</b></u></i> USB Dongle that allows the user to communicate/ control the security or automation systems using a personal computer or a laptop.</li>
                                    <li><i><u><b>PhaliBro Touch Interface at R6000.00:</b></u></i> 7” Touch screen for PhaliBro security and automation systems user interface.</li>
                                    <li><i><u><b>PhaliBro AC Light Switch at R650.00:</b></u></i> 4A Wireless AC lights switch that can be operated manually, by cellular or using PhaliBro systems user interface (PhaliBro Touch Interface, PhaliBro Universal Remote or Personal computer/ Laptop using PhaliBro USB Dongle). It also has two sets of Time Auto Control (On times and Off times) and can be assigned to a switch sensor or motion sensor for sensor auto control.</li>
                                    <li><i><u><b>PhaliBro AC Plug at R750.00:</b></u></i> 16A Wireless AC Plug that can be operated manually, by cellular or using PhaliBro systems user interface (PhaliBro Touch Interface, PhaliBro Universal Remote or Personal computer/ Laptop using PhaliBro USB Dongle). It also has two sets of Time Auto Control (On times and Off times) and can be assigned to a switch sensor or motion sensor for sensor auto control.</li>
                                    <li><i><u><b>PhaliBro Power Meter:</b></u></i> Measures overall household power usage, stores and displays data on the mobile phone app or on PhaliBro systems user interface  (PhaliBro Touch Interface, PhaliBro Universal Remote or Personal computer/ Laptop using PhaliBro USB Dongle).</li>
                                    <li><i><u><b>PhaliBro Smart Geyser Controller at R800.00:</b></u></i> Geyser controller which allows the user to set water temperature. Set high temperature if more/ many people use the geyser, or lower temperature to reduce electricity usage by the geyser. It also has two sets of Time Auto Control (On times and Off times). It can be controlled using mobile phone app or PhaliBro systems user interface (PhaliBro Touch Interface, PhaliBro Universal Remote or Personal computer/ Laptop using PhaliBro USB Dongle).</li>
                                    <li><i><u><b>PhaliBro Curtains Controller:</b></u></i> Curtains control mechanism which allows the user to open/ close curtains using the mobile phone app/ PhaliBro systems user interface  (PhaliBro Touch Interface, PhaliBro Universal Remote or Personal computer/ Laptop using PhaliBro USB Dongle). It also has two sets of Time Auto Control (Open &amp; Close times) and can be assigned to a switch sensor or motion sensor for sensor auto control.</li>
                                    <li><i><u><b>PhaliBro Irrigation System:</b></u></i> Auto Garden/ Lawn irrigation system that irrigates the user’s garden, operated either manually using the mobile phone app or using PhaliBro systems user interface (PhaliBro Touch Interface, PhaliBro Universal Remote or Personal computer/ Laptop using PhaliBro USB Dongle), or setting irrigation times through Time Auto Control (Two sets of On and Off times). It also has humidity sensor which can trigger the irrigation if the read soil moisture value is below the set minimum value.</li>
                                    <li><i><u><b>PhaliBro Remote Unit at R600.00:</b></u></i> Home appliances universal remote , this unit is used to replace your home TV/DVD/Other remotes and gives you access to control your appliances using PhaliBroSystems smart phone app.</li>
                                    <li><i><u><b>PhaliBro Universal Remote:</b></u></i> A universal remote that is user programmed to control up to 30 different home appliances of different manufactures, replacing their remotes. It is also capable of controlling the PhaliBro security and automation systems,  used as user interface. Can connect to sensors and cameras as a standalone system, control PhaliBro AC Light switches and AC Plugs, PhaliBro Power meter, geyser, irrigation and curtains.</li>
                                </ul>
                                <p><b>**Note:</b> All wireless sensors require two AA batteries, with good batteries the sensors can work for more than 9 months without battery replacement. Sensor battery low notifications are sent when a sensor needs battery replacement/ recharge.</p>
                                <p><b>**Note:</b> The wireless camera has input power socket to supply +5V, the two AA batteries are intended for backup when the mains power fail. These batteries should last more than 3 hours of full operation.</p>
                                </p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item prod-select">
                        <div class="image">
                            <img src=http://i66.tinypic.com/2n1c21s.jpg>
                        </div>
                        <div class="content">
                            <a class="header popup" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">GSM PRODUCTS</a>
                            <div class="meta">
                                <span>Descriptions</span>
                            </div>
                            <div class="description ui segment">
                                <p>
                                <p><b><u>The following GSM Communication products are available.</u></b></p>
                                <ul>
                                    <li><i><u><b>GSM Geyser Controller at R90.00: </b></u></i> Switch ON/OFF your Geyser using your cellphone via MyIESD-Device App.Set daily ON and OFF times for your geyser on your phone.</li>
                                    <li><i><u><b>GSM Lights Controller at R90.00: </b></u></i> Switch ON/OFF your Lights using your cellphone via MyIESD-Device App.Set ON and OFF times for your lights on your phone.</li>
                                    <li><i><u><b>GSM AC Plugs Controller at R90.00: </b></u></i> Switch ON/OFF your AC Plugs using your cellphone via MyIESD-Device App.Set ON and OFF times for your plugs on your phone.</li>
                                    <li><i><u><b>GSM Gate/ Garage Controller at R90.00: </b></u></i> Open and Close your Garage Door or Gate remotely using your cellphone via MyIESD-Device App.</li>
                                    <li><i><u><b>GSM Curtains Controller at R90.00: </b></u></i> Open/ Close your Curtains using your cellphone via MyIESD-Device App.Set auto open and close times using your phone.</li>
                                    <li><i><u><b>GSM Irrigation System at R90.00: </b></u></i> Irrigate your garden using your cellphone via MyIESD-Device App.Set irrigation times on your phone.</li>
                                </ul>
                                </p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>

                    <div class="item prod-select">
                        <div class="image">
                            <img src=http://i66.tinypic.com/2n1c21s.jpg>
                        </div>
                        <div class="content">
                            <a class="header popup" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">ASSET TRACKER</a>
                            <div class="meta">
                                <span>Description</span>
                            </div>
                            <div class="description ui segment">
                                <p>
                                    prod.description
                                </p>
                            </div>
                            <div class="extra">
                                <b> Price: R prod.price </b>
                            </div>
                        </div>
                    </div>

                    <div class="item prod-select">
                        <div class="image">
                            <img src=http://i66.tinypic.com/2n1c21s.jpg>
                        </div>
                        <div class="content">
                            <a class="header popup" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">POWER METER</a>
                            <div class="meta">
                                <span>Description</span>
                            </div>
                            <div class="description ui segment">
                                <p>
                                <P>
                                    The Power Meter device measures the rate at which your electric energy is consumed (Power) and the accumulated amount of energy used by your appliances or your entire home.
                                    This device can handle up to 100A continuous currents, interfaces with the end user via a mobile phone App or via a dedicated user interface display,
                                    and can send usage information on request via a phone or its dedicated user interface.
                                </P>
                                <p>
                                    This device can be configured to operate in one of the two ways, using any interface mode (App or Display interface).
                                    <ul>
                                        <li>
                                            <b>Accumulated Energy:-</b> In this operating mode the device measures the amount of electric energy used by appliances at any given time and calculates the amount of
                                            accumulated energy used by the appliances, this data can be accessed and erased at any time by the user. In the process it also displays the rate at which electricity is used.
                                            Using the current rate at which the electricity is used, it estimates how much energy will be consumed in an hour and displays this data.
                                        </li>
                                        <li>
                                            <b>Prepaid Meter:-</b> In this mode the device acts as a prepaid meter, the user gives it the amount of energy available and it subtracts the used amount of energy from
                                            the amount of energy available. when the amount available reaches zero it switches off the supply and notifies the end user.In the process it also displays the rate at
                                            which electricity is used and the amount of energy remaining. Using the current rate at which the electricity is used, it estimates how much energy will be consumed in
                                            an hour and displays this data.
                                        </li>
                                    </ul>
                                    To alter any readings on the device an authentication is required, the authentication information is in a form of a username and a password. The user can modify the default settings
                                    and user their prefered username and password. This data can be altered through the App or the user interfcae display.
                                </p>
                                <p>
                                    Applications of this devie includes electricity usage data collection by certain appliance/s, be used as a secondary prepaid meter for applications where there is only one prepaid meter
                                    for the entire complex or at places where one prepaid meter supplies many living spaces. The device can further be used to connect and/ or disconnect electricity to certain areas of the building.
                                </p>
                                </p>
                            </div>
                            <div class="extra">
                                <b> Price: R prod.price </b>
                            </div>
                        </div>
                    </div>

                    <div class="item prod-select">
                        <div class="image">
                            <img src=http://i66.tinypic.com/2n1c21s.jpg>
                        </div>
                        <div class="content">
                            <a class="header popup" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">ACCESS CONTROL</a>
                            <div class="meta">
                                <span>Description</span>
                            </div>
                            <div class="description ui segment">
                                <p>
                                <p>
                                    <strong>This systems can be used as either an access controll system or a attendance record machine for employees.</strong>
                                </p>
                                <p>
                                    The Access Controll system allows you to remotely open your gates and doors anywhere using your mobile phone, and/ or allows multiple
                                    users toopen your gates and doors using either their phones or their finger prints. We have access control systems for comercial and
                                    household applications. We offer access control systems that uses either GSM+Bluetooth, finger print scanner and the one that uses a
                                    combination of these twoo capabilities.
                                </p>
                                <p>
                                    These systems can register up to 200 user for GSM/Bluetooh unit and up to 2000 for the finger print scanner system.
                                    The GSM/Bluetooth system ca be accessed and controlled via a phone call from a registered phone number, or via Bluetooth
                                    using a mobile phone App from a paired mobile device.
                                </p>
                                <p>
                                    The finger print system has a finger print scanner which is used to add/ delete and authenticate users. This system can interface with
                                    a computer to log and save traffic data with timestamp. This feature makes it possible for this systems to be used as a clocking
                                    machine for a workplace to keep records of employee's attendance and punctuality.
                                </p>
                                <ul>
                                    <li>
                                        <b>GSM/Bluetooth System at R400.00</b>
                                    </li>
                                    <li>
                                        <b>Finger print System at R400.00</b>
                                    </li>
                                    <li>
                                        <b>Clocking Machine at R400.00</b>
                                    </li>
                                </ul>
                                </p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>

                    <!--Add product description (Remove this line)
                    <div class="item prod-select">
                            <div class="image">
                                <img src=http://i66.tinypic.com/2n1c21s.jpg> </div>
                            <div class="content">
                                <a class="header popup" href=http://i66.tinypic.com/2n1c21s.jpg data-lightbox-gallery="team-product">GSM PRODUCTS</a>
                                <div class="meta">
                                    <span>Description</span>
                                </div>
                                <div class="description ui segment">
                                    <p>
                                        prod.description
                                    </p>
                                </div>
                                <div class="extra">
                                    <b> Price: R prod.price </b>
                                </div>
                            </div>
                        </div>
                        End adding product description (Remove this line)-->
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END PRODUCTS -->
