<!-- BEGIN SERVICES -->
<section id="services" class="services">
    <div class="row">
        <div class="col-md-12">
            <div class="header-content">
                <h2>Services</h2>
                <h3>We offer the following services</h3>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service">
                        <div class="icon-holder">
                            <i class="fas fa-microchip"></i>
                        </div>
                        <h3 class="heading">Custom Electronic Products</h3>
                        <p class="description">We develop customer specific electronic products, to cater for the specific needs of the individual customer. We assist customers/ Individuals with product development from an Idea to a fully working product. </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service">
                        <div class="icon-holder">
                            <i class="fas fa-video"></i>
                        </div>
                        <h3 class="heading">Security Systems</h3>
                        <p class="description">We develop and install security systems, CCTV camera systems and a wide range of security solutions. </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service">
                        <div class="icon-holder">
                            <i class="fas fa-cogs"></i>
                        </div>
                        <h3 class="heading">Automation Systems</h3>
                        <p class="description">We offer a range of automation products, from lighting, plugs, geysers to home appliances remote control, Sensor Auto Control (SAC), smart phone control using the App and much more.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="header-content">
                <h3>Please contact us to enquire if the service you need is not listed above.</h3>
            </div>
        </div>
    </div>
</section>
<!-- END SERVICES -->
